<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple page</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="assets/styles/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- header -->
    <%= require('html-loader!./header.html') %>

    <!-- content -->
    <%= require(`html-loader!../pages/${htmlWebpackPlugin.options.filename}`) %>

    <!-- footer -->
    <%= require('html-loader!./footer.html') %>
  </body>
</html>
